<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>tela de cadastro</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">

    <h1 class="display-2">cadastrar produtos</h1>

    <form name="f" id="f" class="form-group" action="#"  th:action="@{/salvar}" method="post" th:object="${produto}">



        <div class="col-sm-10">
            <label  class="col-sm-10 col-form-label">Nome de usuario</label>
            <input required class="form-control" name="nome" type="text" th:field="*{nome}" aria-describedby="name" placeholder="ex:queijo,batatinha,pipoca"/> </br>
            <p class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
        </div>


        <div class="col-sm-10">
            <label  class="col-sm-10 col-form-label">Categoria</label>
            <input required name="categoria" type="text" class="form-control"  placeholder="ex:Comida,Limpeza" th:field="*{categoria}">
            <p class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></p>
            </br>
        </div>

        <div class="col-sm-10">
            <label  class="col-sm-10 col-form-label">Descrição do produto</label>
            <input required name="descricao" type="text" class="form-control"  placeholder="ex:fruta" th:field="*{descricao}"/>
            <p class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></p>

            </br>
        </div>

        <div class="col-sm-10">
            <label  class="col-sm-10 col-form-label">Vencimento do produto</label>
            <input required type="number" class="form-control"  placeholder="dias de vencimento" th:field="*{vencimento}" />
            </br>
            <small id="NomeHelp" class="form-text text-muted">Nunca vamos compartilhar seus dados, com ninguém.</small>

            </br>
            </br>
            <button name="butao" class="btn btn-dark" type="submit"  data-toggle="modal" data-target="#modalExemplo">Cadastrar</button> </br>

        </div>



    </form>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>